

<!-- MiniMap Temporal -->
<% if (num_instances > 1) { %>
    <div class="row">
        <div class="col">
            <h3 class="justify-content lead">Temporal Mini-Map </h3>
            <p class="text-muted"> Click on any trace state to see its diagram.</p>
            <div class="mermaid">
                graph LR;
                <% for (var i = 0; i < num_instances; i++) { %>
                    <% if (i === instanceNumber) { %>
                        A<%= i %>((<%= i %>)):::highlight;
                    <% } else { %>
                        A<%= i %>((<%= i %>));
                    <% } %>
                    <% if (i < num_instances - 1) { %>
                        A<%= i %> --> A<%= i + 1 %>;
                    <% } %>
                    click A<%= i %> call stateclick("<%= i %>");
                <% } %>
                <% if (loopBack >= 0 && loopBack < num_instances) { %>
                    A<%= num_instances - 1 %> --> A<%= loopBack %>;
                <% } %>
                classDef highlight fill:#f96,stroke:#333,stroke-width:2px;
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
<% } %>
